name: CI
on: [push, pull_request]
env:
  dockerns: ${{ vars.dockerns || 'openrct2' }}
  dockerid: ${{ secrets.dockerid }}
  dockerpass: ${{ secrets.dockerpass }}
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # Remember if you commit this, newly built images will replace those tags.
        # Prefer incrementing the version to unused one
        tag: [26-android, 26-noble, 26-resolute, 26-bookworm, 26-trixie, 26-format, 26-mingw, 26-emscripten]
    env:
      dockertag: ${{ matrix.tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build docker image
        run: |
          ctxpath=${dockertag//-/\/}
          docker build -t $dockerns/openrct2-build:$dockertag $ctxpath
      - name: Publish docker image
        run: |
          if [ "$dockerid" != "" ]; then
              docker login -u "$dockerid" -p "$dockerpass"
              docker push $dockerns/openrct2-build:$dockertag
          else
              echo 'Image not pushed'
          fi
  tag:
    name: Tag images
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Tag docker images
        run: |
          if [ "$dockerid" != "" ]; then
              docker login -u "$dockerid" -p "$dockerpass"
              docker pull $dockerns/openrct2-build:26-noble
              docker tag $dockerns/openrct2-build:26-noble $dockerns/openrct2-build:26
              docker tag $dockerns/openrct2-build:26-noble $dockerns/openrct2-build:latest
              docker push $dockerns/openrct2-build:26
              docker push $dockerns/openrct2-build:latest
          else
              echo 'Images not tagged'
          fi
